/* You can add global styles to this file, and also import other style files */
.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  padding: 20px 40px 20px 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
